.forum-category-tab, .thread-tab {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--light-grey);

    padding: 1rem;
    gap: 3rem;

    border: 2px solid var(--text);

    height: 8rem;
}

.forum-category-tab .category-image, .thread-tab .thread-image {
    height: 5rem;
}

.forum-category-tab .category-info, .thread-tab .thread-info { /* table */
    width: 80%;
    table-layout: fixed;
}

.forum-category-tab .category-info .category-info-details, .thread-tab .thread-info .thread-info-details {
    text-align: center;
}

.forum-category-tab .category-info .category-info-details td, .thread-tab .thread-info .thread-info-details td {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;

    display: table-cell;
    width: 2%;
}