.landing-page {
    display: flex;
    justify-content: space-between;
    
    padding: 4rem;

    min-height: 100vh; /*  change later. its closer to 90vh since we need to account for the header height. this is just temporary */
}

/* main content ==================================================================================================================== */

.landing-page .landing-page-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}

/* side bar ==================================================================================================================== */

.landing-page .landing-page-side {
    width: 25%;
    background: var(--light-grey);
    border: 2px solid var(--text);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 4rem; */

    height: fit-content;
}

.landing-page .landing-page-side .landing-page-information-stats {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.landing-page .category-landing-side { /* styling for thread landing pages ========================================================== */
    display: flex;
    align-items: center;
    gap: 2rem;
}

.landing-page .landing-page-side .landing-page-information-stats img {
    height: 7rem;
}

.landing-page .landing-page-side .landing-page-information-stats .landing-page-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing-page .landing-page-side .landing-page-information-stats .landing-page-stats h2 {
    font-weight: 600;
}

.landing-page .landing-page-side .landing-page-information-stats .landing-page-stats h3 {
    font-weight: 400;
}

.landing-page .landing-page-side .landing-page-highlights {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 3rem;
}

/* create thread button for category landing pages ========================================================================================================== */

.landing-page .landing-page-side .create-thread {
    border: 2px solid var(--text);
    background: var(--background);
    height: 4rem;

    width: 100%;

    font-size: 1.5rem;
}