.fourm-trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.fourm-trending-label {
    font-size: 1.25rem;
}

.fourm-trending-tab {
    display: flex;
    align-items: center;

    height: 7rem;
    width: 90%;
    padding: 1rem;
    gap: 2rem;

    border: 2px solid var(--text);
    border-radius: 0.30rem;

    background: var(--dark-grey);
}

.fourm-trending-tab .fourm-trending-icon .fourm-trending-image {
    height: 4rem;
}

.fourm-trending-tab .fourm-trending-details .fourm-trending-community {
    font-size: 1.25rem;
}

.fourm-trending-tab .fourm-trending-details .fourm-trending-details {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}