.admin-dash-page {
    display: flex;

    padding: 2rem;

    gap: 4rem;
}

.admin-user-form {
    display: flex;
    align-items: center;

    height: 3rem;

    gap: 2rem;
}

.user-form-section {
    display: flex;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin-dash-nav-buttons {
    height: 5rem;
}

.active {
    background: var(--tertiary);
}

.admin-dash-nav-buttons:hover {
    background: var(--secondary);
}