/* .form-component {
    background: var(--background);
    color: var(--text);
} */

.form-component .form-title {
    margin-bottom: 2rem;
}

.form-component form {
    /* border: 2px solid var(--text); */
    border-radius: 0.25rem;
    
    background: var(--background);
    padding: 1rem;
    border: 1px solid var(--text);
}

.form-component form .form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
}

.form-component form .form-section .section-heading {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.form-component form .form-section .section-heading h2 {
    font-size: 1rem;
}

.form-component form .form-section .section-options, .form-component form .form-section .form-radio-buttons {
    display: flex;
    gap: 2rem;
}

.form-component form .form-section .section-options, .form-component form .form-section .form-radio-buttons .form-radion-button-label {
    display: flex;
    gap: 2rem;
}

.form-component form .form-section .section-options input[type="text"]  {
    height: 3rem;
    font-size: 1.5rem;

    width: 100%;

    text-align: center;

    background: var(--form-input-accent);
    border: 1px solid var(--text);
}

.form-component form button {
    border: 2px solid var(--text);
    border-radius: 0.25rem;
    
    background: var(--secondary);

    font-size: 1.5rem;
    font-weight: 500;

    height: 3rem;
    width: 100%;
} 

.form-component form button:hover {
    background: var(--tertiary);
} 

.form-component form button:active{
    background: var(--tertiary);
}

.form-list-element {
    display: grid;
    grid-template-columns: 1fr auto auto;

    gap: 1rem;
}

/* STYLING FOR LOGIN FORM THAT IS MEANT TO BE IN THE MIDDLE OF THE PAGE */
.login-form {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background: var(--background);
    border: 1px solid var(--text);

    padding: 2rem;
}

/* text area styling */
.form-textarea {
    width: 30vw;
}

.form-textarea textarea {
    height: 10rem;
    width: 100%;
    resize: none;

    padding: 1rem;

    font-family: "Montserrat";

    margin-bottom: 1rem;
}