/* #forum-creation {

} */

#profile-update #profile-update-title {
    margin-bottom: 2rem;
}

#profile-update form {
    border: 2px solid var(--text);
    border-radius: 0.25rem;
    
    background: var(--light-grey);
    padding: 1rem;
}

#profile-update form .form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
}

#profile-update form .form-section .section-heading {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#profile-update form .form-section .section-heading h2 {
    font-size: 1.5rem;
}

#profile-update form .form-section .section-options, #profile-update form .form-section .forum-radio-button {
    display: flex;
    gap: 2rem;
    /* justify-content: space-evenly; */
}

#profile-update form #UserName{
    height: 3rem;
    font-size: 1.5rem;

    width: 25%;

    text-align: center;
} 
#profile-update form #Email{
    height: 3rem;
    font-size: 1.5rem;

    width: 25%;

    text-align: center;
} 
#profile-update form #Role{
    height: 3rem;
    font-size: 1.5rem;

    width: 25%;

    text-align: center;
} 
#profile-update form button {
    border: 2px solid var(--text);
    border-radius: 0.25rem;
    
    background: var(--background);

    font-size: 1.5rem;
    font-weight: 500;

    height: 3rem;
    width: 50%;
} 

#profile-update form button:active{
    background: var(--secondary);
}