.community-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 6rem;
    padding: 2rem;

    border: 2px solid var(--text);
    border-radius: 0.30rem;
}

.community-tab .community-icon {
    height: 4rem;
    width: 4rem;
    background: var(--dark-grey);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.25rem;
}

.community-tab .community-icon .community-icon-image {
    height: 3rem;
}

.community-tab .community-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}