.community-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 7rem;
    padding: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;

    border: 2px solid var(--text);
    border-radius: 0.30rem;

    text-decoration: none;
}

.community-tab .community-icon {
    height: 4.5rem;
    width: 4.5rem;
    background: var(--dark-grey);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.25rem;
}

.community-tab .community-icon .community-icon-image {
    height: 4rem;
}

.community-tab .community-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}