#landing-page {
    display: flex;
    justify-content: space-between;
    
    padding: 4rem;
}

/* left col ------------------------------------------------------------------------------------------------------- */

#landing-page #landing-left {
    display: flex;
    flex-direction: column;

    gap: 4rem;

    width: 33.333%;
}

/* trending ------------------------------------------------------------------------------------------------------- */

#landing-page #landing-left #trending-column {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* map ------------------------------------------------------------------------------------------------------- */

#map {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#map #my-map-heading {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 3rem;
}

#map #my-map-heading #my-map-icon {
    height: 3rem;
}

#map #map-image {
    width: 100%;
    border: 3px solid var(--text);
    border-radius: 0.25rem;
}

/* right col ------------------------------------------------------------------------------------------------------ */

#landing-page #landing-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

#landing-page #landing-right #my-communities-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 3rem;
}

#landing-page #landing-right #my-communities-header #my-communities-header-icon {
    height: 3rem;
}

#landing-page #my-communities {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-items: center;
    justify-content: space-between; */
}