.trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.trending-label {
    font-size: 1rem;
}

.trending-tab {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 6rem;
    width: 90%;
    padding: 1rem;
    gap: 1rem;

    border: 2px solid var(--text);
    border-radius: 0.30rem;

    background: var(--light-grey);
}

.trending-tab .trending-icon {
    height: 4rem;
    width: 4rem;
    background: var(--dark-grey);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.25rem;
}

.trending-tab .trending-icon .trending-image {
    height: 3rem;
}

.trending-tab .trending-details .trending-community {
    font-size: 1.25rem;
}

.trending-tab .trending-details .trending-details {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}