.thread-post {
    border: 2px solid var(--text);

    background: var(--light-grey);
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 90vw;
}

/* left side of post containing post information ========================================================================================================= */
.thread-post .post-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 2rem;
    width: 100%;
    padding-right: 4rem;
}

.thread-post .post-left .post-content {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.thread-post .post-left .post-like-dislike-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.thread-post .post-left .post-like-dislike-date .ratings {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.thread-post .post-left .post-like-dislike-date .ratings .rating {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.thread-post .post-left .post-like-dislike-date .ratings .rating img {
    height: 2rem;
}

/* right side of post containing user information ========================================================================================================= */
.thread-post .post-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 25%;
}

.thread-post .post-right .user-profile-mini {
    border: 2px solid var(--text);
    background: var(--background);
    padding: 2rem;

    width: 100%;
}

.thread-post .post-right .user-profile-mini .user-major-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.thread-post .post-right .user-profile-mini .user-major-details img { /* user profile */
    height: 4rem;
}

.thread-post .post-right .user-profile-mini .user-major-details h1 { 
    font-size: 1.50rem;
}

.thread-post .post-right .user-profile-mini  .user-major-details h2 { 
    font-size: 1.25rem;
}

.thread-post .post-right .user-profile-mini .user-minor-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-weight: 500;
    width: 100%;
}

.thread-post .post-right .reply-to-post {
    border: 2px solid var(--text);
    background: var(--background);
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
} 

/* bottom of post content
.thread-post .post-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.thread-post .post-details .post-like-dislike-date {
    display: flex;
    align-items: center;
    gap: 2rem;
}



.thread-post .post-details .reply-to-post {
    border: 2px solid var(--text);
    background: var(--background);
    width: 25%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
} */