.thread-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    padding: 2rem;
}

.thread-page .thread-header {
    width: 100%;
    margin-left: 6rem;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.thread-page .thread-header .thread-name-count {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.thread-page .thread-header .thread-name-count button {
    width: 100%;
    padding: 0 1rem;

    border: 1px solid var(--text);
    border-radius: 0.25rem;
}

.thread-page .thread-header .thread-name-count button:hover {
    background: var(--tertiary);
}

.thread-page .thread-header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.thread-page .thread-header h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.thread-page form {
    width: 80vw;
}