.thread-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    padding: 2rem;
}

.thread-page .thread-header {
    width: 100%;
    margin-left: 6rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thread-page .thread-header .thread-name-count {
    display: flex;
    gap: 2rem;
}

.thread-page .thread-header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.thread-page .thread-header h2 {
    font-size: 1.25rem;
    font-weight: 500;
}