#usernameHeader {
   font-family: "Cambay";
   font-weight: 700;
   font-size: 1.25rem;
   padding-left: 1%;
}

.profile-container {
    padding: 1.5rem;

    display: flex;

    gap: 10rem;
    
}

/* left side with user data and follow status */

.profile-container .profile-left-side {
    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid var(--text);

    padding: 1rem;
    border-radius: 0.25rem;
}

.profile-container .profile-left-side .user-profile-image {
    height: 10rem;
    width: 10rem;

    padding: 1rem;
}

/* user profile data */

.profile-container .profile-left-side .user-profile-data {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* rows in user profile data */

.profile-container .profile-left-side .user-profile-data .profile-row {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.profile-container .profile-left-side .user-relationship {
    font-size: 1rem;
}

/* logout button */
.logout-button {
    margin-top: 2rem;
    width: 10rem;
    border: 1px solid var(--text);
}

.user-profile-image {
    height: 200px;
    width: 200px;
}

.user-profile-page {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: none;
    gap: 2rem;
}

.user-profile-page {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: none;
    gap: 2rem;
}

.user-profile-page .right {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.sub-section .input[type="file"] {
  display: none;
}

.file-upload {
  border: 1px solid var(--text);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

  margin-bottom: 1rem;

  width: 100%;
}

.sub-section button[type="submit"] {
  background: var(--secondary);
}

.user-following-data {
    display: flex;
    gap: 1rem;

    width: 100%;
}

.following-data-sub {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
}

.button-list button {
    width: 6rem
}