.messages-container {
    padding: 2rem;
}

.messages-container .messages {
    border: "1px solid #ccc";
    padding: 2rem;
    border-radius: 0.25rem;
    /* max-width: ; */
}

.messages-container .messages .send-new-massage button {
    color: red;
}