#footer {
    display: flex;
    
    height: 4rem;
    width: 100vw;

    background: var(--tertiary);
}

#footer-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

#footer #footer-logo-container #footer-logo {
    height: 2.5rem;
    display: flex;
}

#footer .footer-link {
    text-decoration: none;
    color: var(--darkest-grey);
    font-weight: 500;
}