@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat";

  --background: #fff;
  --text: #000000;
  --secondary: #bbd2a8;
  --tertiary: #1b809a;
  --profile-background: #DADA4F;
  --searchbar-text: #d5d5d5;
  --light-grey: #d9d9d9;
  --dark-grey: #B7B7B7;
  --darkest-grey: #333333;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}