@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*#region =======ROOT======= */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat";

  --background: #fff;
  --text: #000000;
  --secondary: #bbd2a8;
  --tertiary: #1b809a;
  --profile-background: #DADA4F;
  --searchbar-text: #d5d5d5;
  --light-grey: #e9e9e9;
  --lightest-grey: #efefef;
  --dark-grey: #B7B7B7;
  --darkest-grey: #333333;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  /* scrollbar-width: none; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none; /* removes blue border around input fields on mac ================ */
}

.main-content {
    min-height: 100vh;
}
/*#endregion ROOT*/

/* prevent horizontal scroll WITHOUT breaking Google Maps */
body {
  overflow-x: hidden;
}

.router-link {
  color: inherit;
  text-decoration: inherit;
}