@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat";

  --background: #fff;
  --text: #000000;
  --secondary: #bbd2a8;
  --tertiary: #1b809a;
  --profile-background: #DADA4F;
  --searchbar-text: #d5d5d5;
  --light-grey: #e9e9e9;
  --lightest-grey: #efefef;
  --dark-grey: #B7B7B7;
  --darkest-grey: #333333;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  /* scrollbar-width: none; */
}

/* prevent horizontal scroll WITHOUT breaking Google Maps */
body {
  overflow-x: hidden;
}

.router-link {
  color: inherit;
  text-decoration: inherit;
}

#page-content {
    width: 100%;
    display: flex;
}

/* SIDEBAR ----------------------------------------------------------------------------------------------------------------------------------------------- */

#sidebar {
  flex: 2;

  /* height: 100%; */
  /* width: 15vw; */

  background: var(--light-grey);
}

/* MAIN CONTENT AREA -------------------------------------------------------------------------------------------------------------------------------------- */

.main-content {
    flex: 10;
    /* display: flex;
    flex-direction: column; */
}

/* HEADER ------------------------------------------------------------------------------------------------------------------------------------------------- */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 2rem;
    padding-right: 2rem;

    height: 5rem;
    background: var(--secondary);
}

/* right side of header --------------------------------------------------------------------------------------------- */

#header-right, #header-left {
    display: flex;
    align-items: center;
    max-height: 100%;

    gap: 1rem;
}

#header-right img {  /*  logo  */
    max-height: 100%;
    height: 4rem;
}

#header-right #website-title {  /*  logo  */
    font-weight: 900;
}

/* left side of header --------------------------------------------------------------------------------------------- */

/* search bar ------------------------------------------------------------------------------------------------------ */

#search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);

    height: 2rem;
    width: 25vw;
    border-radius: 0.95rem;

    padding: 0.8rem;
}

#search-bar #search-bar-text {
    color: var(--searchbar-text);
}

#message-icon {
    height: 3.5rem;
}

#profile {
    height: 3.5rem;
    width: 3.5rem;
    background: var(--profile-background);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-icon {
    height: 2.5rem;
}

/* FOOTER -------------------------------------------------------------------------------------------------------------------------------- */

#footer {
    display: flex;
    
    height: 4rem;
    width: 100vw;

    background: var(--tertiary);
}

#footer-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

#footer #footer-logo-container #footer-logo {
    height: 2.5rem;
    display: flex;
}

#footer .footer-link {
    text-decoration: none;
    color: var(--darkest-grey);
    font-weight: 500;
}